var Comments = React.createClass({
  render() {
    return(
      <div className="list-group">
  			{this.props.comments.map(function(comment, index){
  					return(
              <div  className="list-group-item list-group-item-action flex-column align-items-start">
                <div className="d-flex w-100 justify-content-between">
                  <small>{comment.created_at}</small>
                </div>
                <p className="mb-1">{comment.title}</p>
              </div>
					)
  					}
  				)}
  				</div>
    )
  }
})
